---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/mdippery/dnsimple-python
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1460076487'
      Etag:
      - W/"baec42f3a15609c6acc82a6afa721f5d"
      Last-Modified:
      - Fri, 03 Apr 2015 00:33:20 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":33326369,"name":"dnsimple-python","full_name":"mdippery/dnsimple-python","owner":{"login":"mdippery","id":22942,"avatar_url":"https://avatars.githubusercontent.com/u/22942?v=3","gravatar_id":"","url":"https://api.github.com/users/mdippery","html_url":"https://github.com/mdippery","followers_url":"https://api.github.com/users/mdippery/followers","following_url":"https://api.github.com/users/mdippery/following{/other_user}","gists_url":"https://api.github.com/users/mdippery/gists{/gist_id}","starred_url":"https://api.github.com/users/mdippery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mdippery/subscriptions","organizations_url":"https://api.github.com/users/mdippery/orgs","repos_url":"https://api.github.com/users/mdippery/repos","events_url":"https://api.github.com/users/mdippery/events{/privacy}","received_events_url":"https://api.github.com/users/mdippery/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/mdippery/dnsimple-python","description":"Python
        client for DNSimple domain registration and DNS hosting","fork":true,"url":"https://api.github.com/repos/mdippery/dnsimple-python","forks_url":"https://api.github.com/repos/mdippery/dnsimple-python/forks","keys_url":"https://api.github.com/repos/mdippery/dnsimple-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mdippery/dnsimple-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mdippery/dnsimple-python/teams","hooks_url":"https://api.github.com/repos/mdippery/dnsimple-python/hooks","issue_events_url":"https://api.github.com/repos/mdippery/dnsimple-python/issues/events{/number}","events_url":"https://api.github.com/repos/mdippery/dnsimple-python/events","assignees_url":"https://api.github.com/repos/mdippery/dnsimple-python/assignees{/user}","branches_url":"https://api.github.com/repos/mdippery/dnsimple-python/branches{/branch}","tags_url":"https://api.github.com/repos/mdippery/dnsimple-python/tags","blobs_url":"https://api.github.com/repos/mdippery/dnsimple-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mdippery/dnsimple-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mdippery/dnsimple-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/mdippery/dnsimple-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mdippery/dnsimple-python/statuses/{sha}","languages_url":"https://api.github.com/repos/mdippery/dnsimple-python/languages","stargazers_url":"https://api.github.com/repos/mdippery/dnsimple-python/stargazers","contributors_url":"https://api.github.com/repos/mdippery/dnsimple-python/contributors","subscribers_url":"https://api.github.com/repos/mdippery/dnsimple-python/subscribers","subscription_url":"https://api.github.com/repos/mdippery/dnsimple-python/subscription","commits_url":"https://api.github.com/repos/mdippery/dnsimple-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/mdippery/dnsimple-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/mdippery/dnsimple-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/mdippery/dnsimple-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/mdippery/dnsimple-python/contents/{+path}","compare_url":"https://api.github.com/repos/mdippery/dnsimple-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mdippery/dnsimple-python/merges","archive_url":"https://api.github.com/repos/mdippery/dnsimple-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mdippery/dnsimple-python/downloads","issues_url":"https://api.github.com/repos/mdippery/dnsimple-python/issues{/number}","pulls_url":"https://api.github.com/repos/mdippery/dnsimple-python/pulls{/number}","milestones_url":"https://api.github.com/repos/mdippery/dnsimple-python/milestones{/number}","notifications_url":"https://api.github.com/repos/mdippery/dnsimple-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mdippery/dnsimple-python/labels{/name}","releases_url":"https://api.github.com/repos/mdippery/dnsimple-python/releases{/id}","deployments_url":"https://api.github.com/repos/mdippery/dnsimple-python/deployments","created_at":"2015-04-02T18:58:31Z","updated_at":"2015-04-03T00:33:20Z","pushed_at":"2015-04-03T00:33:20Z","git_url":"git://github.com/mdippery/dnsimple-python.git","ssh_url":"git@github.com:mdippery/dnsimple-python.git","clone_url":"https://github.com/mdippery/dnsimple-python.git","svn_url":"https://github.com/mdippery/dnsimple-python","homepage":"https://dnsimple.com/documentation/api","size":131,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","parent":{"id":972696,"name":"dnsimple-python","full_name":"mikemaccana/dnsimple-python","owner":{"login":"mikemaccana","id":172594,"avatar_url":"https://avatars.githubusercontent.com/u/172594?v=3","gravatar_id":"","url":"https://api.github.com/users/mikemaccana","html_url":"https://github.com/mikemaccana","followers_url":"https://api.github.com/users/mikemaccana/followers","following_url":"https://api.github.com/users/mikemaccana/following{/other_user}","gists_url":"https://api.github.com/users/mikemacc[...]
