---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/bendjones/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1438915279'
      Etag:
      - W/"8f1602cda373017fffc3d4086ff7bfb9"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":25478322,"name":"Alamofire","full_name":"bendjones/Alamofire","owner":{"login":"bendjones","id":184510,"avatar_url":"https://avatars.githubusercontent.com/u/184510?v=3","gravatar_id":"","url":"https://api.github.com/users/bendjones","html_url":"https://github.com/bendjones","followers_url":"https://api.github.com/users/bendjones/followers","following_url":"https://api.github.com/users/bendjones/following{/other_user}","gists_url":"https://api.github.com/users/bendjones/gists{/gist_id}","starred_url":"https://api.github.com/users/bendjones/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bendjones/subscriptions","organizations_url":"https://api.github.com/users/bendjones/orgs","repos_url":"https://api.github.com/users/bendjones/repos","events_url":"https://api.github.com/users/bendjones/events{/privacy}","received_events_url":"https://api.github.com/users/bendjones/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/bendjones/Alamofire","description":"Elegant
        HTTP Networking in Swift","fork":true,"url":"https://api.github.com/repos/bendjones/Alamofire","forks_url":"https://api.github.com/repos/bendjones/Alamofire/forks","keys_url":"https://api.github.com/repos/bendjones/Alamofire/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bendjones/Alamofire/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bendjones/Alamofire/teams","hooks_url":"https://api.github.com/repos/bendjones/Alamofire/hooks","issue_events_url":"https://api.github.com/repos/bendjones/Alamofire/issues/events{/number}","events_url":"https://api.github.com/repos/bendjones/Alamofire/events","assignees_url":"https://api.github.com/repos/bendjones/Alamofire/assignees{/user}","branches_url":"https://api.github.com/repos/bendjones/Alamofire/branches{/branch}","tags_url":"https://api.github.com/repos/bendjones/Alamofire/tags","blobs_url":"https://api.github.com/repos/bendjones/Alamofire/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bendjones/Alamofire/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bendjones/Alamofire/git/refs{/sha}","trees_url":"https://api.github.com/repos/bendjones/Alamofire/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bendjones/Alamofire/statuses/{sha}","languages_url":"https://api.github.com/repos/bendjones/Alamofire/languages","stargazers_url":"https://api.github.com/repos/bendjones/Alamofire/stargazers","contributors_url":"https://api.github.com/repos/bendjones/Alamofire/contributors","subscribers_url":"https://api.github.com/repos/bendjones/Alamofire/subscribers","subscription_url":"https://api.github.com/repos/bendjones/Alamofire/subscription","commits_url":"https://api.github.com/repos/bendjones/Alamofire/commits{/sha}","git_commits_url":"https://api.github.com/repos/bendjones/Alamofire/git/commits{/sha}","comments_url":"https://api.github.com/repos/bendjones/Alamofire/comments{/number}","issue_comment_url":"https://api.github.com/repos/bendjones/Alamofire/issues/comments{/number}","contents_url":"https://api.github.com/repos/bendjones/Alamofire/contents/{+path}","compare_url":"https://api.github.com/repos/bendjones/Alamofire/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bendjones/Alamofire/merges","archive_url":"https://api.github.com/repos/bendjones/Alamofire/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bendjones/Alamofire/downloads","issues_url":"https://api.github.com/repos/bendjones/Alamofire/issues{/number}","pulls_url":"https://api.github.com/repos/bendjones/Alamofire/pulls{/number}","milestones_url":"https://api.github.com/repos/bendjones/Alamofire/milestones{/number}","notifications_url":"https://api.github.com/repos/bendjones/Alamofire/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bendjones/Alamofire/labels{/name}","releases_url":"https://api.github.com/repos/bendjones/Alamofire/releases{/id}","created_at":"2014-10-20T17:39:00Z","updated_at":"2015-01-09T19:18:56Z","pushed_at":"2015-01-09T19:18:55Z","git_url":"git://github.com/bendjones/Alamofire.git","ssh_url":"git@github.com:bendjones/Alamofire.git","clone_url":"https://github.com/bendjones/Alamofire.git","svn_url":"https://github.com/bendjones/Alamofire","homepage":"","size":523,"stargazers_count":0,"watchers_count":0,"language":"Swift","has_issues":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":20362781,"name":"AVOAccelaImage","full_name":"bendjones/AVOAccelaImage","owner":{"login":"bendjones","id":184510,"avatar_url":"https://avatars.githubusercontent.com/u/184510?v=3","gravatar_id":"","url":"https://api.github.com/users/bendjones","html_url":"https://github.com/bendjones","followers_url":"https://api.github.com/users/bendjones/followers","following_url":"https://api.github.com/users/bendjones/following{/other_user}","gists_url":"https://api.github.com/users/bendjones/[...]
